.inactive {
	transition-duration: 2s;
	display: none;
}

.active {
	display: block;
}

#body {
	background-color: #1766d4;
}

#entete {
	text-align: center;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(3, 141, 81);
	padding: 1em;
	margin: auto;
}

#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navbar-element {
	float: left;
}

#navbar-element a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar-element a:hover:not(.active) {
	background-color: #111;
}

.actif {
	background-color: rgb(3, 141, 81);
	color:white;
}
.actif :hover{
	background-color: black;
}
#nom {
	color: whitesmoke;
	font-size: 3em;
}

#objectif {
	color: whitesmoke;
	font-size: 1em;
}

#corps {
	font-size: 1em;
	text-align: center;
	width: fit-content;

}

#gauche {
	background-color: whitesmoke;
}

#droite {
	top: 0px;
	right: 0px;
	height: 100%;
	background-color: blue;
}

#titre {
	margin: 0.2em;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	background-color: black;
}

#sous-titre {
	font-size: 1em;
	font-weight: bold;
	color: black;
	background-color: grey;
}

#liste {
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	background-color: rgb(3, 141, 81);
	color:white;
	text-align: center;
	padding: 0;
	border-radius: 4px;
}


#sous-liste {
	text-align: left;
	margin-top: 8px;
	border-radius: 15px;
	font-size: 1em;
	background-color: rgb(255, 255, 255);
}