.inactive {
	display: none;
	transition-duration: 2s;
}

#entete {

	top: 0px;
	left: 0px;
	right: 0px;
	width: auto;
	height: auto;
	background-color: red;
	padding: 1em;
	margin: auto;
}

#nom {
	color: whitesmoke;
	font-size: 3em;
}

#objectif {
	color: whitesmoke;
	font-size: 1em;
}

#corps {
	font-size: 1em;
}

#gauche {
	background-color: whitesmoke;
}

#droite {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	background-color: blue;
}

#titre {
	font-size: 1.5em;
	font-weight: bold;
}

#sous-titre {
	font-size: 1em;
	font-weight: bold;
}

#liste {
	text-align: left;
	margin-top: 4px;
	height: 50px;
	width: 300px;
	background-color: white;
	border-radius: 4px;
}
#liste:hover {
	background-color: #000000;
	color: white;
}

#sous-liste {
	font-size: 1em;
}